/*limited CSS with bootstrap*/
body{
	background: url("../images/90s-artists.jpg");
	background-size: cover;
}
#game-content{
	margin-top: 30px;
    background:rgba(245, 245, 245, 0.836);
    overflow: auto;
}
#letters{
    min-height: 100px;
    overflow: auto;
}
#reset{
	margin-bottom: 30px;
}
#guessedLetterWell{
    overflow-wrap: break-word;
    word-wrap: break-word;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}